[profile.default]
src = "src"
out = "out"
libs = ["lib"]

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options

remappings = [
    "forge-std/=lib/forge-std/src/",
    "@openzeppelin/contracts/=lib/openzeppelin-contracts/contracts/",
]

# [rpc_endpoints]
# monad_testnet = "${MONAD_TESTNET_RPC}"

# [etherscan]
# monad_testnet = { key = "${MONAD_EXPLORER_API_KEY}", url = "https://explorer.testnet.monad.xyz/api" } 